@import 

    './core/mixins',
    './core/utils',
    './core/globals',
    './core/fonts',
    './core/normalize',
    './core/variables'
    ;  


@import
    './blocks/nav_bar/navigation',
    './blocks/nav_bar/search',
    './blocks/info/info',
    './blocks/info/user-switcher',
    './blocks/content/album_grid',
    './blocks/content/content__sections',
    './blocks/content/listen-later',
    './blocks/content/empty_rate',
    './blocks/global/rating',
    './blocks/global/buttons',
    './blocks/global/album-menu',
    './blocks/global/rating-modal',
    './core/media';