@include mobile {
  .navigation {
    &__inner {
      column-gap: 5px;
    }

    &__search {
      width: 40px;
      height: 40px;
      flex-grow: 0;
      border-radius: var(--border-radius-circle);
      justify-content: center;
      cursor: pointer;
      padding: 0;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--color-gray);
      }

      &-input {
        display: none;
      }

      &-icon {
        margin: 0;
      }
    }
  }

  .button {
    font-size: 14px;
  }

  .content__sections {
    grid-template-columns: 1fr;
    gap: var(--content-sections-gap);
    margin-top: var(--content-sections-gap);
  }

  .album-grid {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0;
  }

  .search-results {
    max-height: 300px;
  }

  .search-result {
    padding: 10px 12px;
      &__cover {
          width: 40px;
          height: 40px;
      }

      &__info {
          margin-left: 10px;
      }
    }

  .container {
    padding-inline: 0;
  }

  .title {
    padding: var(--container__padding-inline) var(--container__padding-inline) 0 ;
  }

  .favs__info, .recently__info {
    gap: var(--gap-little)
  }

  .info__profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

}

@include table {
  .content__sections {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 580px) {
}