:root {
  --color-dark: #0E0F11;
  --color-dark-alt: #181A1C;
  --color-gray: #2D2D2D;
  --color-medium: #252525;
  --color-light: #E4E6EA;
  --color-light-secondary: #7a7a7a;
  --color-muted: #555555;
  --color-accent: #96010e;

  --border: 1px solid var(--color-gray);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --border-radius-circle: 50%;

  --font-family: 'Noto Sans', sans-serif;

  --container-width: 1240px;
  --container-padding-x: 20px;

  --container__padding-inline: 32px;
  --content-sections-gap: 2rem;
  --content-sections-gap-little: 1rem;
  --margin-bottom: 12px;
  --margin-top: 0.5rem;

  --gap: 0.4rem;
  --gap-little: 0.2rem;

  --input-height: 59px;
  --button-height: 68px;

  --transition-duration: 0.2s;

  @include mobile {
    --container__padding-inline: 16px;
    --content-sections-gap: 1rem;
  }
}