.info {
    background-color: var(--color-dark-alt);
    border-bottom: var(--border);

    &__profile {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 20px;
        padding-block: 64px;
        img {
            height: 120px;
            width: 120px;
            border-radius: var(--border-radius-circle);
        }

        &-name {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h3 {
                font-weight: 800;
                font-size: 40px;
            }

            h4 {
                font-weight: 400;
                font-size: 16px;
            }
            h5 {
                opacity: 60%;
                font-weight: 600;
            }
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        padding-bottom: 2px;
    }
}