.album-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);
}

.album-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-grid img {
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border);
}

.album-grid h3 {
    margin: 1rem 0 0.25rem;
    font-size: 0.95rem;
    font-weight: 700;
}

.album-grid p {
    font-size: 0.85rem;
    color: #aaa;
}

.recently__cover-container {
    position: relative;
    width: 100%;
    display: inline-block;
    
    &:hover .album-menu__trigger {
        opacity: 1;
        transform: scale(1);
    }
}

.recently__item {
    .album-menu {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}