.empty-state-content {
    text-align: center;
}

.empty-state-icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.empty-state-text {
    margin: 0;
    color: var(--color-light-secondary);
}

