<header class="navigation">
  <section class="navigation__inner container">
    <a href="/" class="navigation-img" data-action="home">
      <img src="/img/logo.jpg" alt="Musicboard logo" draggable="false"/>
    </a>

    <div class="navigation__search">
      <div class="navigation__search-wrapper">
        <span class="navigation__search-icon">
          <svg width="20" height="20" viewBox="0 0 488.4 488.4" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <title>Search Icon</title>
            <g stroke="currentColor" stroke-width="24" stroke-linejoin="round" stroke-linecap="round" fill="currentColor" fill-rule="nonzero">
              <path d="M203.2,406.45c-112,0-203.2-91.1-203.2-203.2s91.2-203.2,203.2-203.2s203.2,91.2,203.2,203.2c0,51.7-19.4,98.8-51.2,134.7
              l129.6,129.5c4.8,4.8,4.8,12.5,0,17.3c-2.4,2.4-5.5,3.6-8.7,3.6s-6.3-1.2-8.7-3.6l-129.5-129.5
              C302,387.05,254.8,406.45,203.2,406.45z M203.2,24.55c-98.5,0-178.7,80.2-178.7,178.7s80.2,178.7,178.7,178.7
              s178.7-80.2,178.7-178.7S301.7,24.55,203.2,24.55z"/>
            </g>
          </svg>
        </span>
        <input class="navigation__search-input" type="text" placeholder="Search Musicboard..." />
      </div>
    </div>

    <div class="search-modal" style="display: none;">
      <div class="search-modal__overlay"></div>
      <div class="search-modal__content">
        <div class="search-modal__header">
          <button class="search-modal__close" aria-label="Close search">×</button>
        </div>
        <div class="search-modal__search">
          <span class="search-modal__search-icon">
            <svg width="20" height="20" viewBox="0 0 488.4 488.4" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <g stroke="currentColor" stroke-width="24" stroke-linejoin="round" stroke-linecap="round" fill="currentColor" fill-rule="nonzero">
                <path d="M203.2,406.45c-112,0-203.2-91.1-203.2-203.2s91.2-203.2,203.2-203.2s203.2,91.2,203.2,203.2c0,51.7-19.4,98.8-51.2,134.7
                l129.6,129.5c4.8,4.8,4.8,12.5,0,17.3c-2.4,2.4-5.5,3.6-8.7,3.6s-6.3-1.2-8.7-3.6l-129.5-129.5
                C302,387.05,254.8,406.45,203.2,406.45z M203.2,24.55c-98.5,0-178.7,80.2-178.7,178.7s80.2,178.7,178.7,178.7
                s178.7-80.2,178.7-178.7S301.7,24.55,203.2,24.55z"/>
              </g>
            </svg>
          </span>
          <input class="search-modal__input" type="text" placeholder="Search albums..." autofocus />
        </div>
        <div class="search-modal__results"></div>
      </div>
    </div>

    <div class="navigation__auth buttons" style="display: none;">
      <button type="button" class="navigation__auth-button button"><span>Login</span></button>
      <button type="button" class="navigation__auth-button button"><span>Sign Up</span></button>
    </div>

    <div class="navigation__user-info" style="display: none;"></div>
  </section>
</header>
